---
- name: Include Monitoring
  template:
    src: monitoring.conf.j2
    dest: /etc/nginx/conf.d/monitoring.conf
    mode: 0644
  when: nginx_enable_monitoring is defined and nginx_enable_monitoring
