include authorized_ips;

server {
  listen {{ nginx_status_port }};
  server_name _;

  location /nginx_status {
    if ($authorized_ip = no) {
      return 404;
    }
    stub_status on;
    access_log off;
  }
}
