{% for loadbalancer in loadbalancers %}
upstream {{ loadbalancer.upstream_name }} {
{% if loadbalancer.method is defined %}
{{ loadbalancer.method }};
{% endif %}
{% for host in loadbalancer.hosts %}
    server {{ host }};
{% endfor %}
}
{% endfor %}
