# SSL log files
access_log    {{ nginx_log_dir }}/{{ site.server.name }}-ssl-access.log{% if site.server.ssl.access_log_format is defined %} {{ site.server.ssl.access_log_format }}{% endif %};
error_log     {{ nginx_log_dir }}/{{ site.server.name }}-ssl-error.log;

# certs
ssl_certificate           {{ nginx_ssl_dir }}/{{ site.server.ssl.cert }};
ssl_certificate_key       {{ nginx_ssl_dir }}/{{ site.server.ssl.key }};
ssl_trusted_certificate   {{ nginx_ssl_dir }}/{{ site.server.ssl.cert }};
{% if site.server.ssl.ssl_passphrase is defined %}
ssl_password_file         {{ nginx_ssl_passphrase_path }};
{% endif %}

# SSL opts
{% if site.server.ssl.add_ssl_directive is not defined or site.server.ssl.add_ssl_directive %}
ssl on;
{% endif %}
ssl_protocols             {{ nginx_ssl_protocols }};
ssl_ciphers               "{{ nginx_ssl_ciphers }}";
ssl_dhparam               /etc/ssl/certs/dhparam.pem;
ssl_prefer_server_ciphers on;
keepalive_timeout         70;
ssl_session_cache         shared:SSL:10m;
ssl_session_timeout       10m;

# enable HSTS including subdomains
add_header                Strict-Transport-Security 'max-age=31536000; includeSubDomains; preload';

# allow Nginx to send OCSP results during the connection process
ssl_stapling              on;

# This improves performance by avoiding the costly session negotiation process where possible
ssl_session_cache         builtin:1000 shared:SSL:10m;
